@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body{
    background-image: url("favicon-32x32.png");
    font-family: 'Outfit', sans-serif;
    align-items: center;
}
.div1{
    background-color: hsl(212, 45%, 89%);
    width: 70%;
    height: 70%;
    box-shadow: 2px 2px 2px 2px gray;
    position: absolute;
    left: 15%;
    top: 15%;


}
.card {



    left: 40%;
    top: 15%;
    padding: 18px;
    border-radius: 17px;

}
.card-img-top{
    font-size: 15px;

    border-radius: 12px;

 }